:host {
  display: contents;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__link {
    padding: 0.5rem;
    display: block;

    &--active {
      background-color: var(--c-elevation-1);
    }
  }
}
