:host {
  display: grid;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 300px 1fr;
  height: 100%;

  @media screen and (max-width: 768px) {
    grid-template-areas:
      'topbar'
      'content'
      'navigation';
    grid-template-columns: 1fr;
    grid-template-rows: var(--topbar-height) 1fr var(--navigation-height);
  }
}

.content {
  overflow-y: auto;
}

router-outlet {
  display: contents;
}
