:root {
  --c-elevation-0: #121418;
  --c-elevation-1: hsl(220, 14%, 13%);

  --topbar-height: 96px;
  --navigation-height: 96px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: var(--c-elevation-0);
  color: #ccc;
  font-family: sans-serif;
}

button,
select,
input,
textarea,
a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
}

a {
  text-decoration: none;
}

.page {
  padding: 1rem;
}
